[submodule "lib/imgui"]
	path = lib/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "lib/implot"]
	path = lib/implot
	url = https://github.com/epezent/implot.git
[submodule "lib/sdl-gpu"]
	path = lib/sdl-gpu
	url = https://github.com/tadashibashi/sdl-gpu.git
[submodule "lib/gbsplay"]
	path = lib/gbsplay
	url = https://github.com/tadashibashi/gbsplay.git
[submodule "lib/json"]
	path = lib/json
	url = https://github.com/nlohmann/json.git
[submodule "lib/SDL"]
    path = lib/SDL
    url = https://github.com/libsdl-org/SDL.git
[submodule "lib/SDL_ttf"]
	path = lib/SDL_ttf
	url = https://github.com/libsdl-org/SDL_ttf.git
[submodule "lib/nfd-extended"]
	path = lib/nfd-extended
	url = https://github.com/btzy/nativefiledialog-extended.git
[submodule "lib/lua"]
	path = lib/lua
	url = https://github.com/lua/lua.git
[submodule "lib/sol2"]
	path = lib/sol2
	url = https://github.com/ThePhD/sol2.git
[submodule "lib/LuaJIT"]
	path = lib/LuaJIT
	url = https://github.com/LuaJIT/LuaJIT.git
[submodule "lib/luajit-remake"]
	path = lib/luajit-remake
	url = https://github.com/luajit-remake/luajit-remake.git
[submodule "lib/luajit"]
	path = lib/luajit
	url = https://github.com/luapower/luajit.git
